---
layout: base
title: Aoe2DEOverlay
heading: Age of Empires 2 Definitive Edition Overlay
---

<div class="container">
    <canvas id="match-rate-total-chart" width="800" height="450"></canvas>
    <div id="match-rate-total-slider"></div>

    <canvas id="match-rate-ranked-chart" width="800" height="450"></canvas>
    <div id="match-rate-ranked-slider"></div>

    <canvas id="match-rate-ranked-1vs1-chart" width="800" height="450"></canvas>
    <div id="match-rate-ranked-1vs1-slider"></div>

    <canvas id="match-rate-ranked-team-chart" width="800" height="450"></canvas>
    <div id="match-rate-ranked-team-slider"></div>
    
    <canvas id="match-rate-rm-s-chart" width="800" height="450"></canvas>
    <div id="match-rate-rm-s-slider"></div>

    <canvas id="match-rate-rm-chart" width="800" height="450"></canvas>
    <div id="match-rate-rm-slider"></div>

    <canvas id="match-rate-ew-chart" width="800" height="450"></canvas>
    <div id="match-rate-ew-slider"></div>

    <canvas id="match-rate-dm-chart" width="800" height="450"></canvas>
    <div id="match-rate-dm-slider"></div>
</div>
